.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-grow: 1;
}

.side-nav {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.side-nav button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  text-align: left;
}

.side-nav button.active {
  background-color: #007bff;
  color: white;
}

main {
  flex-grow: 1;
  padding: 20px;
}

#dashboard, #dashboard1, #explore {
  width: 100%;
  height: 100%;
}

.looker-embed {
  width: 100%;
  height: 100%;
}